[submodule "CouponFrontend"]
	path = CouponFrontend
	url = https://github.com/tanngoc93/CouponFrontend.git
[submodule "CouponSwarm"]
	path = CouponSwarm
	url = https://github.com/tanngoc93/CouponSwarm.git
